{% extends 'layout.html' %}
{% load static from staticfiles %}

{% block content %}

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li style='list-style-type: none' {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<h2>Now, enter your gift ideas and intended recipients (if any):</h2>

    <form method="POST" action="">
        {% csrf_token %}
        {{ gift_form.as_p }}
        <input type="submit" value="Add Gift">
    <!--This page will contain model form fields for inputting data needed to populate the Recipient and Gift tables-->
    </form>

    <h4>All done? Click "Next" to view your Shopping List...</h4>
    <form method="POST" action="/idea_tracker/shoppinglist/">
        {% csrf_token %}
        <input type="submit" value="Next">
    </form>

{% endblock %}
