{% extends 'layout.html' %}
{% load static from staticfiles %}

{% block content %}

<h3>This page will list one selected recipient at a time, along with that recipients attributes (birthday, notes, associated gifts). User will be able to edit or delete them</h3>



    <form>
        <label class='recipient-detail'>{{ recipient }}</label>
    </form>






            <!--{% for birthday in recipient_birthday %}
            #<td>{{ recipient_birthday }}</td>
            {% endfor %}-->


{% endblock %}

