<!doctype html>
<html>
<head>
    <meta charset="utf-8" name="viewport">
    <link ref="stylesheet" type="text/css" href="css/normalize.css">
    <link ref="stylesheet" type="text/css" href="css/main.css">
</head>

<body>

    <header class='hero'>
        <nav>
            <ul>
                <li><a href=home.html>Home</a></li>
                <li><a href=forms.html>GiftBuddy</a></li>
            </ul>
        </nav>
    </header>
    {% block content %}
    <!--This page will output the results of the inputs on the forms page...a 'big picture'or 'shopping list' view of all recipients, their associated gifts, individual prices and a total price for all gifts-->
    <h3>This page will output the results of the inputs on the forms page...a 'big picture'or 'shopping list' view of all recipients, their associated gifts, individual prices and a total price for all gifts</h3>
    {% endblock %}

</body>

</html>

