{% extends 'layout.html' %}
{% load static from staticfiles %}


{% block css %} <link rel="stylesheet" href="{% static '/css/shoppinglist.css' %}">{% endblock %}



{% block content %}


<div class="wrapper">
    <div class="paper">
        <article class="head"></article>
        <p>&nbsp;</p>



        <div class="container">

            <div>
                <h3>My Shopping List:</h3>
                <h3 style='font-family: 'Kalam', cursive'>(click on a recipient to edit or delete)</h3>

                    {% for name in recipients %}

                        <ul>
                            <li style="font-family: 'Kalam', cursive; font-size: 1.5em"><a href="{{ name.get_absolute_url }}">{{ name.first_name }} {{ name.last_name }} /

                            {% for gift in name.gift_set.all %}

                             <span style='color:darkblue'>{{ gift }}</span></a></li>

                             {% endfor %}
                        </ul>
                    {% endfor %}
            </div>

            <div class="price">
                <h3>Total required budget:</h3>
                <h3>$ {{ total_price }}</h3>
            </div>

        </div>

    </div>

</div>

{% endblock %}



</body>

</html>
