{% extends 'layout.html' %}
{% load static from staticfiles %}

{% block static %}<link rel="stylesheet" href="{% static 'idea_tracker/css/forms.css' %}">{% endblock %}

    {% block content %}
    <!--This page will output the results of the inputs on the forms page...a 'big picture'or 'shopping list' view of all recipients, their associated gifts, individual prices and a total price for all gifts-->
    <h3>This page will output the results of the inputs on the forms page...a 'big picture'or 'shopping list' view of all recipients, their associated gifts, individual prices and a total price for all gifts</h3>
    {% endblock %}

</body>

</html>

