:root {
    background: #e6e6e6;
}

header {
    background: lightblue;
}

header h1 {
    color: blue;
    text-align: center;
    padding-top: 1.5em;
    margin-top: -1em;
    padding-bottom: .5em;
    }

h2 {
    margin-bottom: 2.5em;
    text-align: center;
}

form {
    width: 35em;
    margin: 0 auto;
}

label, input {
    display: block;
    border-radius: 3%
}

input {
    margin-bottom: 2em;
}

.windfield {
    display: inline-block;
}

#ecamexample {
    width: 22em;
}

input::placeholder {
    color: #a8dcf0;
    font-style: italic;
}

#submit {
    background-color: blue;
    color: white;
}

input::value {
    line-height: 50%;
}

#result {
    color: blue;
    font-style: italic;
}
