

:root {
    background: #c6ebbe
;
}


header {
    background: #8b6742;
    color: #000;
    background-image: url('../images/pattern2.png');
    z-index: 1000;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "title nav";
}

header h1 {
    grid-area: title;
    text-align: center;
    color: #bc8da0;
    font-family: 'Monoton', cursive;
    font-size: 3em;
    margin-bottom: -20px;
}

nav {
    grid-area: nav;
}

nav ul {
    text-align: right;
    margin: 0 auto;
}

nav li, li {
    font-family: 'Kalam', cursive;
    display: block;
    margin: 0 2em;
    padding: 0 1em 10px;
}


a {
    color: #bc8da0;
}

li a {
    color: darkblue;
}

a:visited {
    color: #bc8da0;
}

h2 {
    color: darkblue;
    font-family: 'Permanent Marker', cursive;
    font-size: 2em;
 }

 h3, h4, h5 {
    color: darkblue;
    font-family: 'Permanent Marker', cursive, 'Courier New', serif;
    font-size: 2em;
 }

form {
    color: darkblue;
    font-family: 'Kalam', cursive;
    width: 50em;
    margin: 0 auto;
}


label, input {
    display: block;
    border-radius: 3%
}

input {
    margin-bottom: 2em;
}

.recipient-detail label {
    font-family: 'Kalam', cursive;
    font-size: xx-large;
}
