
.wrapper {
    width: 95%;
    margin: 0 auto;
}

.price {
  margin: 0 auto;
  margin-top: 4em;
  border-top: solid black 1px;
}

/* Ruled paper effect */

.paper {
  font: normal 12px/1.5 "Lucida Grande", arial, sans-serif;
  width: 50%;
  height: 80%;
  padding: 6px 5px 4px 10px;
  position: relative;
  margin: 2em auto;
  color: #444;
  line-height: 20px;
  border: 1px solid #d2d2d2;
  background: #fff;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#d9eaf3), color-stop(4%, #fff)) 0 4px;
  background: -webkit-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: -moz-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: -ms-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: -o-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  -webkit-background-size: 100% 20px;
  -moz-background-size: 100% 20px;
  -ms-background-size: 100% 20px;
  -o-background-size: 100% 20px;
  background-size: 100% 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  width: 95%;
  height: 1056px;
}

/* left margin and double vertical reddish lines effect */

.paper::before {
  content: '';
  position: absolute;
  width: 4px;
  top: 0;
  left: 45px;
  bottom: 0;
  border: 1px solid;
  border-color: transparent #efe4e4;
}

/* notebook paper header styling */

.head {
   background-color: #FFF;
   min-height: 124px;
   margin-left: -10px;
   margin-top: -4px;
}



/* Responsive styling */

@media (min-width: 695px) {
  .wrapper {
    width: 90%;
    margin: 0 auto;
}

.container {
    width: 80%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-left: 4rem;
}

.price {
    font-family: 'Kalam', cursive;
    grid-column-start: 2;
    text-align: right;
    border-top: none;
}
