{% load static from staticfiles %}

<!doctype html>
<html>
<head>

    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">

</head>

<body>



    <header class='hero'>
        <nav>
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="forms.html">GiftBuddy</a></li>
            </ul>
        </nav>
    </header>

    {% block content %}
    <h2>Welcome to GiftBuddy...Here you can store your best gift ideas, assign them to recipients, track gifted/ungifted/regifted status, and check them off on your budget!<h2>
    {% endblock %}


</body>
</html>

