<!doctype html>
{% load static from staticfiles %}
<html>
<head>

    <title>{% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Kalam|Monoton|Permanent+Marker" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/css/layout.css' %}">
    {% block css %}{% endblock %}


</head>

<body>

    <div class="hero">

        <header>
            <h1>GIFT TRACKER</h1>
            <nav>
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/idea_tracker/forms/recipient_form">Gift Tracker</a></li>
                    <li><a href="/idea_tracker/shoppinglist">My Shopping List</a></li>
                </ul>
            </nav>
        </header>

    </div>

    {% block content %}{% endblock %}




</body>
</html>

